.gi-search {
  margin-left: 1px;
}
.gi-search .project {
  color: #204d74;
}
.gi-search .multi-select {
  margin-bottom: 5px;
}
.multiSelect {
  font-weight: 200;
  width: 200px;
}
.multiSelect > button {
  width: 200px;
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 1px 8px 1px 8px;
  font-size: 14px;
  height: 30px;
  min-height: 30px !important;
  border-radius: 4px;
  background-color: #fff;
  color: black;
  background-image: linear-gradient(#fff, #fff);
}
.multiSelect .helperContainer {
  border-bottom: 1px solid #ddd;
  padding: 0px 8px 0px 8px;
}
.multiSelect .helperButton,
.multiSelect .clearButton {
  display: none;
}
.multiSelect .buttonLabel {
  width: 180px;
  display: inline-block;
  padding: 0px;
}
